<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2" configfailurepolicy="continue">
    <listeners>
        <listener class-name="POM.WebTest.RahulAcademy.Listener.TestNGListener"/>
        <listener class-name="POM.WebTest.RahulAcademy.Listener.Reporter"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="Locators Test Login Chrome">
        <parameter name="browser" value="Chrome"/>
        <parameter name="timeout" value="25"/>
        <classes>
            <class name="Selenium.RahulAcademy.LocatorsFormLoginTests">
                <methods>
                    <parameter name="radio" value="admin"/>
                    <parameter name="role" value="student"/>
                </methods>
            </class>
        </classes>
    </test>
   <test name="Rahul ShopPage Chrome" enabled="false">
        <classes>
            <class name="Selenium.RahulAcademy.ShopPageTests">
                <methods>
                    <include name="loginFormVerification"/>
                    <include name="verifyShopIsOnline"/>
                    <include name="verifySlider"/>
                    <include name="shoppingCartTest"/>
                    <include name="shoppingCartRemoveFromCartTest"/>
                </methods>
            </class>
        </classes>
    </test>
<test verbose="2" preserve-order="true" name="Locators Test Login Firefox" enabled="false">
    <parameter name="browser" value="Firefox"/>
    <parameter name="timeout" value="25"/>
    <classes>
        <class name="Selenium.RahulAcademy.LocatorsFormLoginTests">
            <methods>
                <parameter name="radio" value="admin"/>
                <parameter name="role" value="student"/>
            </methods>
        </class>
    </classes>
</test>
<test name="Rahul ShopPage Firefox" enabled="false">
    <parameter name="browser" value="Firefox"/>
    <parameter name="timeout" value="25"/>
    <classes>
        <class name="Selenium.RahulAcademy.ShopPageTests">
            <methods>
                <include name="loginFormVerification"/>
                <include name="verifyShopIsOnline"/>
                <include name="verifySlider"/>
                <include name="shoppingCartTest"/>
                <include name="shoppingCartRemoveFromCartTest"/>
            </methods>
        </class>
    </classes>
</test>

</suite>